/** Root */

/** Generics */

body {
    background-color: #888888;
}

/** Utilities */

.my_btn {
    display: inline-block;
    cursor: pointer;
    padding: 5px 30px;
    color: #007b00;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    background-color: #bdbdbd;
}

.my_border {
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff #7b7b7b #7b7b7b #ffffff;
}

/** Header */

header {
    padding: 30px;
}

nav {
    margin: 0 auto;
    width: 600px;
    padding: 10px;

    background-color: #bdbdbd;
    color: #0000ff;
    font-size: 20px;
    font-weight: 700;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#play-button {
    width: 200px;
}

/** Box */

#box {
    margin: 0 auto;
    width: 600px;
    height: 600px;

    background-color: #bdbdbd;

    display: flex;
    flex-wrap: wrap;

    border-width: 10px;
    border-style: solid;
    border-color: #7b7b7b #ffffff #ffffff #7b7b7b;
}

#stats {
    display: none;
    margin: 0 auto 30px;
    width: 600px;
    height: 80px;
    background-color: #bdbdbd;
    border-width: 10px;
    border-style: solid;
    border-color: #7b7b7b #ffffff #ffffff #7b7b7b;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    top: 300px;
    right: 0;
}

#box .cell {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #007b00;
    font-size: 20px;
    font-weight: 700;

    border-width: 5px;
    border-style: solid;
    border-color: #ffffff #7b7b7b #7b7b7b #ffffff;

    cursor: pointer;

    position: relative;
}

#box .cell.easy {
    width: 10%;
    height: 10%;
}

#box .cell.medium {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

#box .cell.hard {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

#box .cell.active {
    cursor: not-allowed;
    border: 1px solid #7f7f7f;
    color: #0000ff;
}

#box .cell.bombs {
    cursor: not-allowed;
    border: 1px solid #7f7f7f;
}

#box .cell.bomb {
    background-color: #ff0000;
}

#box .cell.bombs:before {
    content: "\f1e2";
    color: #000;
    font: var(--fa-font-solid);
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
